In [8]:
def print_fullname(fname, lname):
    print('hi there')
    fullname = f"{fname} {lname}"
    print(fullname)

In [10]:
print_fullname("nishit","kadia")

hi there
nishit kadia

In [ ]:
carname = "mazda"

In [ ]:
color = "red"

In [12]:
f"This {carname} is {color}"

NameError: name 'carname' is not defined

In [13]:
def print_full_name(fname, lname):
    fullname = f"{fname}{lname}"
    return fullname

In [14]:
print_full_name ("pyth","asa")

'pythasa'

In [ ]:
FOR LOOP Python

In [16]:
mylist = [1, 2, "string", [1,2,5], -9]

In [17]:
for item in mylist:
    print(item)

1
2
string
[1, 2, 5]
-9

In [18]:
mytuple = [1,2,3,4]

In [19]:
mylist = [1, 2, 3, 4]

In [20]:
mylist[0] = "changed"

In [21]:
mytuple[0]

1

In [22]:
mylist

['changed', 2, 3, 4]

In [23]:
mylist2 = ['a','b','c']

In [24]:
id(mylist2)

2377208679880

In [25]:
mylist2

['a', 'b', 'c']

In [26]:
mylist2[2] = 'changed'

In [27]:
mylist2

['a', 'b', 'changed']

In [29]:
id(mylist2)

2377208679880

In [31]:
mytuple2 = (1, 2, 3, ['a', 'b'])

In [36]:
mytuple2[3][0]='changed'

In [37]:
mytuple2

(1, 2, 3, ['changed', 'b'])

In [38]:
id(6)

140710574858800

In [39]:
mylist3 = [1,2,3,4,5]

In [40]:
mylist3.append('append item')

In [41]:
mylist3

[1, 2, 3, 4, 5, 'append item']

In [51]:
result = []
for item in [1,2,3,4,5,6]:
    result.append(f"No.{item}- inside for loop")

In [52]:
result

['No.1- inside for loop',
 'No.2- inside for loop',
 'No.3- inside for loop',
 'No.4- inside for loop',
 'No.5- inside for loop',
 'No.6- inside for loop']

In [ ]:
result = []
for item in [1,2,3,4,5,6]:
    #result.append(f"No.{item}- inside for loop")
    #result.append ("No. %s - inside for loop")

In [1]:
mydictionary = {"name": "python workshop", "place": "hall building"}

In [3]:
mydictionary

{'name': 'python workshop', 'place': 'hall building'}

In [4]:
import pandas

In [6]:
import pandas as pd

In [7]:
mydictionary = {"name": "python workshop", "organizer": "ECSGA", "place": "hall building", "city": "Montreal"}

In [8]:
mydictionary

{'name': 'python workshop',
 'organizer': 'ECSGA',
 'place': 'hall building',
 'city': 'Montreal'}

In [9]:
mydictionary ['organizer']

'ECSGA'

In [14]:
event_info = {"name": ["python workshop", "bokeh workshop"], "organizer":["ECSGA","concordia"], "place": ["hall building","EV"], "city": ["Montreal", "Montreal"]}

In [15]:
event_info

{'name': ['python workshop', 'bokeh workshop'],
 'organizer': ['ECSGA', 'concordia'],
 'place': ['hall building', 'EV'],
 'city': ['Montreal', 'Montreal']}

In [17]:
df = pd.DataFrame(event_info)

In [18]:
df

              name  organizer          place      city
0  python workshop      ECSGA  hall building  Montreal
1   bokeh workshop  concordia             EV  Montreal

In [19]:
mylist4 = [('a', 1), ('b',2), ('c',3)]

In [21]:
for letter, number in mylist4:
    print(letter, "-->", number)

a --> 1
b --> 2
c --> 3

In [22]:
mydict4 = {"name": "python workshop", "place": "EV", "city": "montreal"}

In [23]:
mylist8 = [3,4,5,6]

In [28]:
type(mylist8)
#returns the type of variable

list

In [27]:
mylist8.append(67)
#append is used for list, it cannot be used for number or a string

In [26]:
mylist8

[3, 4, 5, 6, 67]

In [31]:
mydict4.values()
#values returns the all the values in the dictionary

dict_values(['python workshop', 'EV', 'montreal'])

In [33]:
mydict4.items()
#retuns all the items in the dictionary

dict_items([('name', 'python workshop'), ('place', 'EV'), ('city', 'montreal')])